* {
	border: 1px solid black;
}

html, body {
	height: 100%;
	overflow-y: hidden;
}

/* Nav bar at top*/
.nav {
	display: block;
	height: 100px;
	color: #FFF;
	background-color: #333333;
}

/*Footer bar at bottom*/
.footers {
	height: 7%;
	display: block;
	background: #333333;
	border: 1px solid black;
}

.sidebar {
	padding-bottom: calc(49.9% - 100px);
}

.main {
	margin-top: 100px;
}

